<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel='import' href='../_fc-util/fc-panel.html'>
<link rel='import' href='../_fc-util/fc-button.html'>

<dom-module id='my-movements'>

    <template>

        <style>
            :host {
                display: block;
                --pan-background-color: var(--secundario);
                --pan-color: var(--primario);
                --pan-header-justify-content: flex-end;
                --pan-section-padding-bottom: 0;
                --pan-padding-y: 15px;
                --iron-icon-height: 36px;
                --iron-icon-width: 36px;
            }

            :host(:hover) iron-icon {
                cursor: pointer;
            }

            .card {
                --pan-background-color: var(--fondo);
                --pan-border-radius: 3px;
                --pan-titulo-text-align: start;
                --pan-padding-x: 6px;
                --pan-padding-y: 6px;
                --pan-margin-left: 0;
                --pan-margin-right: 0;
                --pan-header-justify-content: space-between;
                --pan-content-display: flex;
                --pan-content-justify-content: space-between;
                --pan-section-padding-bottom: 0;
            }

            .card:first-of-type {
                margin-top: 0;
            }

            .accounts {
                display: block;
                color: var(--fuente);
                font-size: small;
            }

            .date {
                font-size: small;
                font-weight: bolder;
                color: var(--fuente);
            }

            .cargo {
                color: var(--advertencia);
            }

            .abono {
                color: var(--exito);
            }
        </style>

        <fc-panel>

            <h3 slot="titulo">Mis Movimientos</h3>

            <div slot="header">
                <iron-icon icon="icons:refresh" on-click="_init"></iron-icon>
            </div>

            <template is="dom-repeat" items="[[movements]]">
                <fc-panel class="card">
                    <h4 slot="titulo">[[item.nombre]]</h4>
                    <div slot="header">
                        <span class$="[[item.efecto]]">[[item.formatedBalance]]</span>
                        <span class="date">[[item.standardDate]]</span>
                    </div>
                    <span class="accounts">Origen: [[item.origen]]</span>
                    <span class="accounts">Destino: [[item.destino]]</span>
                </fc-panel>
            </template>

        </fc-panel>

    </template>

    <script>

        class MyMovements extends Polymer.Element {

            static get is() { return 'my-movements'; }

            static get properties() {
                return {
                    movements: Array
                }
            }

            /*  */
            // ready() { super.ready(); this._init(); }
            /*  */

            _init() {
                this.fetchCustomerMovements()
            }

            async fetchCustomerMovements() {
                var apiServer = JSON.parse(sessionStorage.getItem("APIServer"));
                var accessToken = JSON.parse(sessionStorage.getItem("AccessToken"));
                var headers = new Headers({
                    'Authorization': accessToken
                });
                var url = `${apiServer}/Customers/Movements`;
                const response = await fetch(url, { headers });
                if (response.ok) {
                    this.movements = await response.json();
                    this.movements.sort(this.compare);
                    this.format();
                }
            }

            compare(a, b) {
                const dateOne = a.fecha;
                const dateTwo = b.fecha;
                let comparison = 0;
                if (dateOne > dateTwo) {
                    comparison = 1;
                } else if (dateOne < dateTwo) {
                    comparison = -1;
                }
                return comparison * -1;
            }

            format() {
                this.movements.forEach(movement => {
                    var date = new Date(movement.fecha);
                    var standardDate = `${date.toDateString()}, ${date.getHours()}:${date.getMinutes()}`;
                    movement.standardDate = standardDate.slice(4);
                    var options = { style: "currency", currency: "USD" };
                    var formatter = new Intl.NumberFormat("en-US", options);
                    movement.formatedBalance = formatter.format(movement.importe);
                });
            }

        }

        window.customElements.define(MyMovements.is, MyMovements);

    </script>

</dom-module>